{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "max-len": [2, 200, 4, { "ignoreUrls": true }],
    "comma-dangle": ["error", "never"],
    "camelcase": "off"
  }
}
