body {
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 1rem 2rem;
}

.navbar__logo a {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    height: 40px;
    margin-right: 15px;
}

.navbar__logo h1 {
    font-size: 20px;
    margin: 0;
    color: white;
    text-transform: uppercase;
}

.navbar__links a {
    color: white;
}

#category {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

#title {
    letter-spacing: 0.4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
}

#banner {
    margin: 20px;
    height: 800px;
}

#editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

.uk-navbar-container {
    background: #fff !important;
    font-family: 'Karla', sans-serif;
}

img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.people-container {
    max-width: 85%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (max-width: 700px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .people-container {
        max-width: 85%;
        margin: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

@media (min-width: 1000px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .people-container {
        max-width: 85%;
        margin: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
}

.person-container:hover {

}

.person-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -36px;
}

.person-img {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    background-size: cover;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.person-img:hover {
    opacity: 0.9;
}

.person-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    color: #969696;
}


/*Tab Component Styling*/
.tab-active {
    position: relative;
    width: 30%;
    padding: 15px 32px;
    font-size: 16px;
    color: #fff;
    background: #000000;
    text-transform: uppercase;
    margin-right: 5px;
}
.tab-active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 16px 16px 0px 0;
    border-style: solid;
    border-color: #fff #000000;
}

.tab-inactive {
    position: relative;
    color: #000000;
    width: 30%;
    padding: 13px 32px;
    font-size: 16px;
    border: 2px solid #000000;
    text-transform: uppercase;
    margin-right: 5px;

}
/*end tab styling*/
